body {
    font-family: 'Segoe UI', sans-serif;
}
div.gameboard {
    font-family: "Courier New", Courier, monospace;
}
div#stats {
    font-family: "Courier New", Courier, monospace;
    color:red;
    float:right;
}

span {
    font-style: italic;
}
